<div class="container">
    <div class="search-section">
        <div>
            <h2>PRODUCTS</h2>
        </div>
        <div class="search-style">
            <div>
                <form [formGroup]="searchForm">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput
                               formControlName="search"
                               (input)="searchProduct()">
                    </mat-form-field>

                </form>
            </div>
            <div>
                <button mat-icon-button
                        color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>


    </div>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Discount Percentage</th>
                <th>Rating</th>
                <th>Stock</th>
                <th>Brand</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products;let index = index">
                <td>{{p.title}}</td>
                <td>{{p.description}}</td>
                <td>{{p.price}}</td>
                <td>{{p.discountPercentage}}</td>
                <td>{{p.rating}}</td>
                <td>{{p.stock}}</td>
                <td>{{p.brand}}</td>
                <td>{{p.category}}</td>
                <td><button mat-icon-button
                            (click)="editProduct(p)"
                            color="primary"><mat-icon>edit</mat-icon></button></td>
                <td><button mat-icon-button
                            (click)="deleteProduct(p, index)"
                            color="warn"><mat-icon>delete</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
    <div class="paginator">

    </div>
</div>