<button mat-icon-button
        [matMenuTriggerFor]="menu">
    <mat-icon>filter_list
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    (click)="sortProducts('asc')">Sort Asc</button>
            <button mat-menu-item
                    (click)="sortProducts('desc')">Sort Dsc</button>
            <hr>
            <div (click)="$event.stopPropagation()"
                 style="padding: 0 16px;">
                <form [formGroup]="searchForm">
                    <mat-form-field>
                        <mat-label>Search...</mat-label>
                        <input matInput
                               formControlName="search">
                    </mat-form-field>
                    <div class="custom-buttons">
                        <div>
                            <button mat-button
                                    color="primary"
                                    (click)="filterByColumn()">Search</button>
                        </div>
                        <div>
                            <button mat-button
                                    color="warn">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-menu>
    </mat-icon>
</button>